      <div>
         <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%%">
            <tr>
               <td width="20" height="29">
                  &nbsp;
               </td>
               <td width="760">
                  <p class="footer">
                     <a href="/about" style="{text-decoration: none;}">
                        About
                     </a>
                     &nbsp;&bull;&nbsp;
                     <a href="/disclaim" style="{text-decoration: none;}">
                        Disclaimer
                     </a>
                  </p>
                  <p class="footer">
                     <a href="mailto:web@homerow.net?subject=Just a remark about your stupid little web site">homerow.net</a>
                  </p>
               </td>
               <td width="20" height="29" align="right">
                  &nbsp;
               </td>
            </tr>
         </table>
      </div>
